/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/* COMMON */



/* Debug */

/* body {
    background-color: lightsalmon;
} */


/* HEADER */

header {
    background-color: rgba(173, 216, 230, 1);
}

.nav-container {
    width: 60%;
    display: flex;
    justify-content: center;

}

.nav-bars {
    background-color: rgba(218, 165, 32, 1);
    border: 1px black;
}

/* COLORS SECTION */

