/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/* COMMON */

.bars {
    border: 2px dashed black;
    padding: 10px;
}

/* Debug */

/* body {
    background-color: lightsalmon;
} */


/* HEADER */

header {
    padding: 30px 10px;
    display: flex;
    justify-content: center;

    /* Debug */
    background-color: rgba(173, 216, 230, 1);
}

.nav-container {
    background-color: rgba(218, 165, 32, 1);
    width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;

}

.logo {
    width: 25%;

}

.nav {
    width: 50%;
    text-align: center;
}

.login {
    width: 25%;
    text-align: end;
}


/* COLORS SECTION */

